<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="WinterConnectionString" connectionString="Data Source=.;Initial Catalog=Winter;Integrated Security=True"
    providerName="System.Data.SqlClient" />
  <add name="WinterConnectionString1" connectionString="Data Source=.;Initial Catalog=Winter;Integrated Security=True;Pooling=False"
    providerName="System.Data.SqlClient" />
</connectionStrings>